h1 {
    color: red;
}
h2 {
    color: brown;
}
.nav {
    color: chocolate;
}
#footer0{
    color:blue;
    background-color: bisque;
}
#footer1{
    color:red;
    background-color:aquamarine;
}
#footer2{
    color:green;
    background-color:azure;
}
#footer3{
    color:crimson;
    background-color: yellowgreen;
}